<div class="card bg-light mb-3">
    <div class="card-body">
        <p class="card-text text-dark">Descubre</p>
        <div class="card-deck">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <h3 class="card-title text-dark">Switches azules</h5>
                                <p class="card-text">Descubre nuestros switches azules</p>
                                <a href="#" class="btn btn-info">Ver más</a>
                        </div>
                        <div class="col-sm-6 text-center">
                            <img src="https://mechanicalkeyboards.com/shop/images/products/large_MX1A-E1NN_main.png"
                                alt="" class="card-img" style="width: 12rem;">
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <h3 class="card-title text-dark">Switches rojos</h5>
                                <p class="card-text">Descubre nuestros switches rojos</p>
                                <a href="#" class="btn btn-rose">Ver más</a>
                        </div>
                        <div class="col-sm-6 text-center">
                            <img src="https://mechanicalkeyboards.com/shop/images/products/large_2230_RGB_SilentRed.png"
                                alt="" class="card-img" style="width: 12rem;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <carousel-products></carousel-products>
        <most-sold></most-sold>
    </div>
</div>